body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #f6f6f6;
    background-color: #3291a8;

}


h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.button{
border-bottom: none;
}

.card-title {
    color: black;
}
.card-text{
    color: black;
}

.btn btn-primary {
    color: #3291a8;
}

.error-message {
    color: red;
}

.jumbotron {
    background-color: #3291a8; /* coral blue */
    color: #f6f6f6;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

.btn-coral {
    background-color: #1e6e82;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
    color: #3291a8;
    font-size: 50px;
}

.logo {
    color: #3291a8;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #1e6e82;
}

.carousel-indicators li {
    border-color: #1e6e82;
}

.carousel-indicators li.active {
    background-color: #1e6e82;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #3291a8;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #3291a8;
    background-color: #f6f6f6 !important;
    color: #3291a8;
}

.panel-heading {
    color: #f6f6f6 !important;
    background-color: #3291a8 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #f6f6f6 !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #f6f6f6;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #3291a8;
    color: #f6f6f6;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #3291a8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #f6f6f6 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3291a8 !important;
    background-color: #f6f6f6 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #f6f6f6 !important;
}

.nav {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #3291a8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.nav a, .nav {
    color: #f6f6f6 !important;
}

.nav a:hover, .nav a.active {
    color: #3291a8 !important;
    background-color: #f6f6f6 !important;
}

.nav-default .nav-toggle {
    border-color: transparent;
    color: #f6f6f6 !important;
}

.nav-text {
    color: #f6f6f6;
}

.nav-item #lang-bar {
    background-color: #3291a8;
    color: #f6f6f6;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3291a8;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

    /* slider */

    /* container */

    /*html {
        background-color: #3291A8; *//* coral blue *//*
        color: #F6F6F6;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
    }
    body {
        font-family: Tahoma, sans-serif;
        font-size: 87%;
    }*/
    .container {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
    }
    header {
        padding-top: 20px;
        color:#3291a8;
        }
    header h1 {
        margin:0;
        font-weight: normal;
        font-size: 165%;
        }
    header p {
        margin: 0;
        }
    .site-nav {
        margin-top: 20px;
    }
    .site-nav ul{
        margin: 0;
        padding: 0;
    }
    .site-nav li{
        list-style: none;
        float: left;
        margin-right: 5px;
    }
    .site-nav a {
        display: block;
        color: #3291A8;
        text-decoration: none;
        padding: 10px 20px;
        border: 3px solid #D1EAF0;
        border-bottom: none;
    }
    .site-nav a:hover{
        background-color: #D1EAF0;
    }
    .content-area {
        border-top: 3px solid #D1EAF0;
        border-bottom: 3px solid #D1EAF0;
        text-align: justify;
        box-sizing: border-box;
    }
    .main-area {
        width: 66%;
        float: left;
        padding-right: 20px;
        box-sizing: border-box;
    }
    footer {
        text-align: center;
        font-size: 85%;
        color: #999;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .group:before,
    .group:after {
        content: "";
        display:table;
    }
    .group:after {
        clear:both;
    }
    .group {
        zoom:1;
    }

    /* container */


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.btn-group {

    padding-bottom: 5px;
    width: 200px;
}

.button{
    padding-bottom: 5px;
    width: 150px
}

.white{
background: #fff !important;
padding: 0px !important;
}

.slide_container{
width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.Primary-price {
    color: darkred;
    text-decoration-line: line-through;
}

.Price-discount {
    color: #1e6e82;
    }
/*.rowproducts{
    margin-bottom: 15px;
}*/
.classWithPad {
    margin:3px; padding:5px;
}
.Primary-price {
    color: darkRed;
    text-decoration-line: line-through;
}
.Price-discount {
    color: #1e6e82;
    }

