<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title th:text="#{title.admin}">vjhv,jbv,b</title>

</head>

<body>

<div class="container">

    <div th:insert="~{fragments :: menu}"></div>
        <div class="row">
            <div class="col-2">
                <div class="nav flex-sm-column" id="admin-tabBar" role="tablist" aria-orientation="vertical">
                    <a class="nav-link nav-text" id="admin-index-tab" data-toggle="pill" href="#admin-index"
                       role="tab" aria-controls="admin-index" aria-selected="false"
                       th:text="#{menu.index}"></a>
                    <a class="nav-link active" id="admin-admin-tab" data-toggle="pill" href="#admin-admin"
                       role="tab" aria-controls="admin-messages" aria-selected="true"
                       th:text="#{menu.admin}"></a>
                    <a class="nav-link" id="admin-registration-tab" data-toggle="pill" href="#admin-registration"
                       role="tab" aria-controls="admin-registration" aria-selected="false"
                       th:text="#{menu.registration}"></a>
                    <a class="nav-link" id="admin-categories-tab" data-toggle="pill" href="#admin-categories"
                       role="tab" aria-controls="admin-categories" aria-selected="false"
                       th:text="#{menu.categories}"></a>
                    <a class="nav-link" id="admin-settings-tab" data-toggle="pill" href="#admin-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="admin-tabContent">
                    <div class="tab-pane fade" id="admin-index" role="tabpanel" aria-labelledby="admin-index-tab">
                        This is some text
                    </div>
                    <div class="tab-pane fade show active" id="admin-admin" role="tabpanel" aria-labelledby="admin-admin-tab">
                        Some admin tab text
                    </div>
                    <div class="tab-pane fade" id="admin-registration" role="tabpanel" aria-labelledby="admin-registration-tab">
                        <div th:insert="~{registration-list :: tbl-list}"></div>
                    </div>
                    <div class="tab-pane fade" id="admin-categories" role="tabpanel" aria-labelledby="admin-categories-tab">
                        <div th:insert="~{categories-list :: tbl-list}"></div>
                    </div>
                    <div class="tab-pane fade" id="admin-settings" role="tabpanel" aria-labelledby="admin-settings-tab">...</div>
                </div>
            </div>
        </div>

    <div th:insert="~{fragments :: copy}"></div>
    <div th:insert="~{fragments :: scripts}"></div>

</div>

</body>

</html>
