<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title th:text="#{title.admin}">vjhv,jbv,b</title>

</head>

<body>

<div class="container">

    <div th:insert="~{fragments :: menu}"></div>
        <div class="row">
            <div class="col-2">
                <div class="nav flex-sm-column" id="admin-tabBar" role="tablist" aria-orientation="vertical">
                    <a class="nav-link nav-text" href="#admin-index" aria-selected="false">Index</a>
                    <a class="nav-link active" href="#admin-admin" aria-selected="true">Admin</a>
                    <a class="nav-link" href="/registrations" aria-selected="false">Registration</a>
                    <a class="nav-link" href="/categories" aria-selected="false">Categories</a>
                    <a class="nav-link" href="#admin-settings" aria-selected="false">Settings</a>
                </div>
            </div>
        </div>

    <div th:insert="~{fragments :: copy}"></div>
    <div th:insert="~{fragments :: scripts}"></div>

</div>

</body>

</html>
