<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title th:text="#{title.index}"></title>

</head>

<body>
<div class="container">

    <div th:insert="~{fragments :: menu}"></div>

    <br/>
    <div class="row">
        <div class="col-3" th:insert="~{fragments :: sidebar}"></div>
        <div class="col-9">
<!--            this is where the custom page content should be-->
            <!-- box starts -->
            <div class="row">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" src="/img/iphone_11.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone 11</h5>
                        <p class="card-text">All buttons are working</p>
                        <p class="Primary-price">2000 EUR</p>
                        <h5 class="Price-discount">1500 EUR</h5>
                        <button type="button" class="btn btn-info">Add to cart</button>
                    </div>
                </div>
                <!-- box ends -->
                <!-- box starts -->
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" src="/img/Iphone_11_Pro.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone 11 Pro</h5>
                        <p class="card-text">All buttons are working</p>
                        <p class="Primary-price">2500 EUR</p>
                        <h5 class="Price-discount">2000 EUR</h5>
                        <button type="button" class="btn btn-info">Add to cart</button>
                    </div>
                </div>
                <!-- box ends -->
                <!-- box starts -->
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" src="/img/iphone_x.jfif" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone X</h5>
                        <p class="card-text">All buttons are working</p>
                        <p class="Primary-price">2000 EUR</p>
                        <h5 class="Price-discount">1500 EUR</h5>
                        <button type="button" class="btn btn-info">Add to cart</button>
                    </div>
                </div>
                <!-- box ends -->
                <!-- box starts -->
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <img class="card-img-top" src="/img/iphone_xr.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Iphone XR</h5>
                        <p class="card-text">All buttons are working</p>
                        <p class="Primary-price">2000 EUR</p>
                        <h5 class="Price-discount">1500 EUR</h5>
                        <button type="button" class="btn btn-info">Add to cart</button>
                    </div>
                </div>
                <!-- box ends -->
        </div>
    </div>

    <div th:insert="~{fragments :: copy}"></div>

    <div th:insert="~{fragments :: scripts}"></div>

</div>

</body>
</html>
