<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title>Products filtered by Brand</title>

</head>

<body>
<div class="container">

    <div th:insert="~{fragments :: menu}"></div>

    <br/>
    <div class="row">
        <div class="col-3" th:insert="~{fragments :: sidebar}"></div>
        <div class="col-9">
            <!-- box starts -->
            <div class="row" th:switch="${products}">
                <div class="" th:each="product : ${products}">
                    <div class="card border-info mb-3" style="max-width: 18rem;margin: 3px !important">

                        <img class="card-img-top" src="/img/iphone_11.jfif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.title}"></h5>
                            <p class="card-text" th:text="${product.description}"></p>
                            <h5 class="Price-discount">
                                <span>&euro;</span>
                                <span th:text="${product.price}">&euro</span>
                            </h5>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm" min="1" th:max="${product.quantity}">
                            </div>


                            <button type="button" class="btn btn-info">Add to cart</button>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div th:insert="~{fragments :: copy}"></div>

    <div th:insert="~{fragments :: scripts}"></div>

</div>

</body>
</html>
