<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title th:text="#{title.contactus}"></title>

</head>

<body>

<div class="container">

    <div th:insert="~{fragments :: menu}"></div>
    <br/>
    <div class="row">
        <div class="col-3" th:insert="~{fragments :: sidebar}"></div>
        <div class="faqs" th:insert="~{fragments :: sidebar-contactus}"></div>
        <div class="col-9">
            <div align="center">
            <h3 style="color: #3291a8">CONTACT US</h3>
            </div>
            <div class="container" style="border-radius: 5px; background-color: #d8edf3; padding:20px;">
                <form action="action_page.php" >
                    <!--<label for="fname" style="color:black">First Name</label>-->
                    <input type="text" id="fname" name="firstname" placeholder="Your name.." style="outline-color: #3291a8">
                    <!--<label for="lname" style="color:black">Last Name</label>-->
                    <input type="text" id="lname" name="lastname" placeholder="Your last name.." style="outline-color: #3291a8">
                    <label for="country" style="color:#3291a8">Country</label>
                    <select id="country" name="country" style="color:#3291a8">
                        <option value="lietuva" style="color:#3291a8">Lietuva</option>
                        <option value="canada" style="color:#3291a8">Canada</option>
                        <option value="usa" style="color:#3291a8">USA</option>
                    </select>
                    <label for="subject" style="color:#3291a8">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px; outline-color: #3291a8"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>

    <div th:insert="~{fragments :: copy}"></div>

</div>

<div th:insert="~{fragments :: scripts}"></div>

</body>
