<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th = "http://www.thymeleaf.org">

    <head>

            <div th:insert="~{fragments :: header_res}"></div>

            <title th:text="#{title.dashboard}"></title>
    </head>

    <body>

    <div class="container">

        <div th:insert="~{fragments :: menu}"></div>

        <h4 th:text="#{dashboard.text}"></h4>

        <div th:insert="~{fragments :: copy}"></div>
    </div>
    </body>

</html>
