<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

    <div th:insert="~{fragments :: header_res}"></div>

    <title th:text="#{title.faqs}"></title>

</head>

<body>

<div class="container">

    <div th:insert="~{fragments :: menu}"></div>
    <br/>
    <div class="row">
        <div class="col-3" th:insert="~{fragments :: sidebar}"></div>
        <div class="faqs" th:insert="~{fragments :: sidebar-faqs}"></div>
        <div class="col-9">
            <h3 style="color: #3291a8;padding-top: 0px;margin-bottom: 0">Frequently Asked Questions</h3>
            <div class="content-area group">
                <div class="main-area">
                    <div class="faqs">
                        <h5 style="color:#3291a8; padding-top: 20px; margin-bottom: 0">General</h5>
                        <a href="allquestions" style="color:#9fd3e0; text-decoration: underline">View all questions</a>
                        <h5 style="color:#3291a8; padding-top: 10px; margin-bottom: 0">Smartphones</h5>
                        <a href="allquestions" style="color:#9fd3e0; text-decoration: underline">View all questions</a>
                        <h5 style="color:#3291a8; padding-top: 10px; margin-bottom: 0">Accessories</h5>
                        <a href="allquestions" style="color:#9fd3e0; text-decoration: underline">View all questions</a>
                        <h5 style="color:#3291a8; padding-top: 10px; margin-bottom: 0">Tablets</h5>
                        <a href="allquestions" style="color:#9fd3e0; text-decoration: underline">View all questions</a>
                        <p style="padding-bottom: 10px"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments :: copy}"></div>

</div>

<div th:insert="~{fragments :: scripts}"></div>

</body>
