<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>

        <div th:insert="~{fragments :: header_res}"></div>

        <title>Product</title>
    </head>

    <body>

    <div class="container">

        <div th:insert="~{fragments :: menu}"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <h2 style="color: #3291a8">Product</h2>
                    <form th:action="@{/admin/product}" th:object="${product}" method="post">

                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}"
                           th:text="#{__${error}__}"></p>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('title')}? 'has-error':''">
<!--                            <label for="title" class="control-label" >Title</label>-->
                            <input type="text"
                                   id="title" name="title" class="form-control"
                                   th:placeholder="Title" th:field="*{title}" required/>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('title')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('brand')}? 'has-error':''">
<!--                            <label for="brand" class="control-label">Brand</label>-->
                            <input type="text"
                                   id="brand" name="brand" class="form-control"
                                   th:placeholder="Brand" th:field="*{brand}"required />
                            <p class="error-message"
                               th:each="error : ${#fields.errors('brand')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
<!--                            <label for="description" class="control-label">Description</label>-->
                            <input type="text"
                                   id="description" name="description" class="form-control"
                                   th:placeholder="Description" th:field="*{description}" required/>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('description')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('thumbnail')}? 'has-error':''">
<!--                            <label for="thumbnail" class="control-label">Select thumbnail</label>-->
                            <input type="file"
                                   id="thumbnail" name="thumbnail"  th:field="*{thumbnail}" style="color: black !important" />
                            <p class="error-message"
                               th:each="error : ${#fields.errors('thumbnail')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                            <label for="price" class="control-label">Price</label>
                            <input type="number"
                                   id="price" name="price" class="form-control"
                                   th:placeholder="9.99" th:field="*{price}" required/>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('price')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('quantity')}? 'has-error':''">
                            <label for="quantity" class="control-label">Quantity</label>
                            <input type="number"
                                   id="quantity" name="quantity" class="form-control"
                                   th:placeholder="0" th:field="*{quantity}" required min="1"/>
                            <p class="error-message"
                               th:each="error : ${#fields.errors('quantity')}"
                               th:text="#{__${error}__}">Validation error</p>
                        </div>
                        <div class="form-group">
                            <input hidden="true" contenteditable="false" id="id" class="form-control" th:field="*{id}" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:insert="~{fragments :: copy}"></div>

    </div>

    </body>

</html>
